<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="Troy Forster">

   <title><%=title%></title>
   <link href="/css/bootstrap.css" rel="stylesheet">
   <link href="/css/jumbotron-narrow.css" rel="stylesheet">

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
   <script>
      var currentUser = <%-JSON.stringify(currentUser)%>;
      var boardrooms = <%-JSON.stringify(boardrooms)%>;
   </script>
</head>

<body>
   <div class="container">
      <div class="header">

         <div id="avatar" class="pull-right">
            <a href="<%=googleUrl %>">
               <img width="27" src="<%=currentUser.picture%>" /></a>

         </div>

         <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
         </ul>

         <h3 class="text-muted">Boardroom Clock</h3>
      </div>

      <div class="jumbotron">
         <h1>6th Floor North</h1>
         <table>
            <tr>
               <td>Troy Forster</td>
               <td>08:35</td>
               <td>-00:12:23</td>
            </tr>
            </tr>
         </table>


      </div>

      <div class="row marketing">
         <div class="col-lg-12">
            <h4>Configuration</h4>
            <form class="form-horizontal" role="form" action="/" method="post">
               <div class="form-group">
                  <label for="boardroom" class="col-sm-2 control-label">Boardroom</label>
                  <div class="col-sm-10">
                     <select class="form-control" id="boardroom">
                        <option>CA - 6thFloor Main</option>
                        <option>CA - 6thFloor NE</option>
                        <option>CA - 6thFloor North</option>
                        <option>CA - 6thFloor South</option>
                        <option>CA - 7thFloor Main</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                  <label for="contrast" class="col-sm-2 control-label">LCD Contrast</label>
                  <div class="col-sm-10">
                     <input type="range" class="form-control" name="contrast" id="contrast" placeholder="180 - 220" min="180" max="220">
                  </div>
               </div>

               <div class="form-group">
                  <label for="brightness" class="col-sm-2 control-label">LCD Brightness</label>
                  <div class="col-sm-10">
                     <input type="range" class="form-control" name="brightness" id="brightness" placeholder="180 - 220" min="180" max="220">
                  </div>
               </div>

               <div class="form-group">
                  <label for="roomFree" class="col-sm-2 control-label">Room Free</label>
                  <div class="col-sm-10">
                     <input type="text" class="form-control" id="roomFree" placeholder="RGB Colour Value">
                  </div>
               </div>

               <div class="form-group">
                  <label for="meetingImminent" class="col-sm-2 control-label">Meeting Immenent</label>
                  <div class="col-sm-10">
                     <input type="text" class="form-control" id="meetingImminent" placeholder="RGB Colour Value">
                  </div>
               </div>

               <div class="form-group">
                  <label for="roomInUse" class="col-sm-2 control-label">Room In Use</label>
                  <div class="col-sm-10">
                     <input type="text" class="form-control" id="roomInUse" placeholder="RGB Colour Value">
                  </div>
               </div
               
               <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                     <button type="submit" class="btn btn-default">Save Settings</button>
                  </div>
               </div>
            </form>

         </div>


      </div>

      <div class="footer">
         <p>&copy; Troy Forster 2013</p>
      </div>

   </div>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="/js/ui-bootstrap-0.6.0.min.js"></script>
   <script src="/js/index.js"></script>
</body>
</html>